header {
    background-color: var(--color-1) !important;
    position: sticky;
    top: 0;
    z-index: 999;
}

.seccion {
    padding-top: 80px;
    padding-bottom: 80px;
}

.formulario-white{
    background: var(--color-1) !important;
}

/****************************Nav*/

nav {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.navbar-brand {
    font-weight: bold;
}

.pestaña {
    margin-left: 20px;
    margin-right: 20px;
}

.idioma {
    border: 2px solid rgba(0, 0, 0, 0.21);
    border-radius: 40px;
    padding: 2px 12px !important;
}

.active {
    border-bottom: 3px solid var(--color-2);
    color: var(--color-2) !important;
    font-weight: bold;
}

button {
    font-size: 19px;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    padding: 15px 50px !important;
    margin: 20px 0;
}

/**************footer*/
footer {
    padding: 53px 0px 30px 0px;
    background-color: var(--color-black);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    position: relative !important;
    bottom: 0px;
    width: 100%;
}

.s-footer-social>div {
    width: auto;
}

.s-footer-social-term>a:link,
.s-footer-social-term>a:visited,
.s-footer-social-term>a:active {
    text-decoration: none;
    color: var(--color-white);
    font-size: 14px;
    margin-left: 20px;
}

.s-footer-social-copy,
ofsystem>a:link,
ofsystem>a:visited,
ofsystem>a:active {
    text-decoration: none;
    color: var(--color-black);
    font-size: 14px;
}

.s-footer-social-items {
    font-size: 20px;
    color: var(--color-white);
}

.s-footer-social-items>* {
    margin-left: 12px;
}

.s-footer-content {
    padding-bottom: 50px;
}

li {
    list-style: none;
    margin-bottom: 20px;
}

.s-footer-pag-item>a,
.s-footer-pag-item>a:link,
.s-footer-pag-item>a:visited,
.s-footer-pag-item>a:active {
    text-decoration: none;
    color: var(--color-white);
    font-size: 14px;
}

.s-footer-content {
    color: var(--color-white);
}

.s-footer-contac>div {
    margin-bottom: 20px;
}

.s-footer-content-title>h1 {
    font-weight: bold;
    font-size: 20px;
}

/*---------------------------HOME------------------*/

/*************************info************/
.s-info-logo>img {
    width: 100%;
}

#info {
    background-color: var(--color-3);
}

.s-info-text>h1 {
    font-size: 70px;
}

.s-info-text>p {
    font-size: 19px;
}

/*********proce*/
.s-proce>h1 {
    font-size: 50px;
    font-weight: bold;
}

.s-proce-text>p {
    font-size: 18px;
    width: 85%;
}

.s-proce-img>img {
    width: 85%;
}

.s-proce-items>div {
    padding-bottom: 50px;
}

.s-proce-item_text>h1 {
    font-size: 27px;
    font-weight: bold;
}

.s-proce-item_text>p {
    font-size: 21px;
}

#proce {
    background-color: var(--color-white);
}

/*********************request*/
.s-reque-forms-logo>img {
    width: 100%;
}

#reque {
    background-color: var(--color-3);
    padding-bottom: 100px;
}

.s-reque-forms-imputs>div {
    background-color: var(--color-white);
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.s-reque-title>h1 {
    font-size: 45px;
}

.s-reque-title>p {
    font-size: 16px;
}

.s-reque-title {
    margin-bottom: 35px;
}

.inp>textarea {
    resize: none;
    width: 100%;
    height: 200px;
    padding-top: 30px;
}

.inp {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
}

.inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.inp input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: var(--color-white);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
    height: 70px;
}

.inp input:not(:-moz-placeholder-shown)+.label,
textarea:not(:-moz-placeholder-shown)+.label,
select:not(:-moz-placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:-ms-input-placeholder)+.label,
textarea:not(:-ms-input-placeholder)+.label,
select:not(:-ms-input-placeholder)+.labe {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:placeholder-shown)+.label,
textarea:not(:placeholder-shown)+.label,
select:not(:placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus,
textarea:focus,
select:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--color-2);
    border-radius: 14px;
}

.inp input:focus+.label,
textarea:focus+.label,
select:focus+.label {
    color: var(--color-2);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus+.label+.focus-bg,
textarea:focus+.label+.focus-bg,
select:focus+.label+.focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

select {
    background-image: url(/images/Home/img7.png);
    /* background-size: 14px; */
    /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
    background-repeat: no-repeat;
    background-position: 95% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
    /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

.s-reque-forms>form>button {
    margin-top: 20px;
}

/*---------------------------ABOUT------------------*/
/************info*******/
.s-prin-text>h1 {
    font-size: 60px;
}

.s-prin-text>p {
    font-size: 18px;
}

.s-prin-text>* {
    margin-top: 35px;
}

#prin {
    background-color: var(--color-3);
}

/*************compani************/
.layout {
    width: 100%;
    display: grid;
    grid:
        "s-compani-content s-compani-img" 100% / 50% 50%;
}

.s-compani-content {
    grid-area: s-compani-content;
}

.s-compani-img {
    grid-area: s-compani-img;
}

.s-compani-img > img {
    width: 100%;
}

#compani {
    padding: 0 !important;
}

.s-compani{
    width: 90%;
    margin: 0px 0px 0px auto;
}

.s-compi-content-item{
    margin-top: 50px !important;
    margin-left: 0 !important;
    padding-left: 0;
}

.s-compi-content-item > h1 {
    font-size: 40px;
    margin-left: 0 !important;
    padding-left: 0;
}

.s-compi-content-item > p {
    font-size: 18px;
    margin-left: 0 !important;
    padding-left: 0;
}
/*---------------------------LOOKING------------------*/

/*************************info************/
.s-look-img > img {
    width: 55%;
}

#look{
    background-color: var(--color-3);
}

.s-look-content>h1 {
    font-size: 70px;
}

.s-look-content>p {
    font-size: 19px;
}

/********************send**********/

/*----------------------------CONTACT---------------*/
#contacto{
    background-color: var(--color-3);
}

.s-contacto-content>h1 {
    font-size: 70px;
}

.s-contacto-content>p {
    font-size: 19px;
}

.s-contacto-img > img {
    width: 40%;
}